<ng-http-loader></ng-http-loader>
<div>
    <table align="center"
           border="1"
           cellpadding="10px"
           cellspacing="10px">
        <tr>
            <th>name</th>
            <th>brand</th>
            <th>rating</th>
            <th>cost</th>
            <th>description</th>
            <th>image</th>
        </tr>
        <tr *ngFor="let obj of result">
            <td>{{obj.name}}</td>
            <td>{{obj.brand}}</td>
            <td>{{obj.rating}}</td>
            <td>{{obj.cost}}</td>
            <td>{{obj.description}}</td>
            <td><img width="100px" src={{obj.image}}></td>
        </tr>
    </table>
</div>